.component{
    opacity: 1;
    display: grid;
    grid-template-columns: max-content 1fr;  
    margin-bottom:20px;
    animation: fadeIn linear 0.3s;
  }

  @keyframes fadeIn {
    0% {opacity:0; transform:translateX(100px)} 
    100% {opacity:1; transform:translateX(0)}
  }
  
  .name-and-age{
      margin: auto 0 auto 20px; 
  }
  .name{
      margin-bottom: 10px;
      font-weight: 700;
  }
  
  .avatar{
      width:75px;
      height:75px;
      object-fit: cover;
      border-radius: 50%;
      animation: fadeIn linear 0.3s;
  }