main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #96ccf8;
   
}

.mainContainer{
    display:grid;
    grid-template-rows:  repeat(3, max-content);
    background-color:#FFFFFF;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    min-width: 50%;
    padding:24px 32px;
    margin: 100px;
    overflow: hidden;
  
}

h1{
    font-size:28px;
    font-weight: 300;
    margin-bottom: 20px;
}



.btn{

    background-color: #96ccf8;
    color: #ffffff;
    font-family: 'montserrat';
    font-size: 20px;
    padding: 8px 0;
    border-radius: 10px;
    border:none;
   
    width: 300px;
    margin: 20px auto 0;

}

.clear-btn{
    background-color: rgb(253, 100, 133);
}

